<% var posts = page.posts; %>
<% if (posts && posts.length > 0) { %>
  <% posts.forEach(function(post) { %>
  <article class='ContentView'>
    <header class='PageTitle'>
        <h1><a href="<%- post.path %>"><%- post.title %></a></h1>
    </header>
    <section>
      <%- post.excerpt || post.content.substring(0, 200) %>...
      <p><a href="<%- post.path %>">Read On »</a></p>
    </section>
    <section class='ArticleMeta'>
        <div>
          发布于&nbsp;
          <time datetime="<%= post.date.toISOString() %>">
            <%= date(post.date, 'YYYY-MM-DD') %>
          </time>
        </div>
        <% if (post.tags && post.tags.length) { %>
        <div>
          标签: 
          <% post.tags.forEach(function(tag) { %>
            <a href="<%= tag.permalink %>"><%= tag.name %></a>
          <% }); %>
        </div>
        <% } %>
    </section>
  </article>
  <% }); %>
<% } %>
